.card-m {
  margin: 50px 150px;
  border-radius: 25px;
}

.card-l {
  margin: 50px 50px;
  border-radius: 25px;
}

h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: white;
}

h2 {
  font-family: sans-serif;
  justify-content: center;
  display: flex;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.meta-label {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 0px;
}
.meta-label input{
  margin-top: 4px;
}

.meta-input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.choose-file{
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 0px;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-top-left-radius: "15px";
  border-top-right-radius: "15px";
  margin-top: "5px";
  font-weight: "bold";
  font-size: "20px"
}

.react-tabs__tab--disabled {
  color: grey;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}