.root {
  height: 100vh;
}

.image {
  background-image: url(https://storage.needpix.com/rsynced_images/meeting-1184892_1280.png);
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-size: cover;
  background-position: center;
}

.paper {
  margin: 64px 32px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 8px !important;
  background-color: #dc004e;
}

.form {
  width: 100%;
  margin-top: 8px;
}

.submit {
  margin: 24px 0px 16px !important;
}

.signUpLink {
  display: flex;
  justify-content: center;
}
